<div style="clear: left;"> </div>
<hr />
<div class="left">
	<iframe src="http://waterdata.usgs.gov/nwisweb/graph?agency_cd=USGS&site_no=01059000&parm_cd=00060&period=7#.UgBBsxrT7XM.gmail" style=" border-width:0 " width="250" height="300" frameborder="0" scrolling="no">
	</iframe><br />
	<%= link_to 'More Details...', EVENTCALENDAR, :target => "_blank", :class => "small_link", :title => "Opens calendar in a new window" %>
</div>