<li>
	The <%= h needed.team.name.capitalize %> Crew needs <span id="seats-needed"><%= seats_needed(needed) %></span> in the  <%= h needed.boat.name %> for <%= link_to "#{human_date(needed.event_on, '%A, %m/%d')} from #{human_time needed.start_time} to #{human_time needed.end_time}", team_summary_url(:id => needed.team) %>
</li>