<h4>River Flow</h4>
<div style="clear: left;"> </div>
<div class="left">
  <img src="http://waterdata.usgs.gov/nwisweb/graph?agency_cd=USGS&site_no=01059000&parm_cd=00060&period=7" style=" border-width:0 " width="400">
  </img><br />
  <%= link_to 'More Details...', RIVER_FLOW_DETAILS, :target => "_blank", :class => "small_link", :title => "Opens calendar in a new window" %>
</div>